import * as S from './styles';
import { {{pascalCase name}}Props } from './type';

const {{pascalCase name}} = ({ exemplo }: {{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
    <p>{exemplo}</p>
  </S.Wrapper>
);

export default {{pascalCase name}};
